.container{
  width: 90vw;
  margin-left: 5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.suggest {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 250px;
  justify-content: center;
}

.suggest img {
  width: 200px;
  height: 300px;
}

.suggestionbox{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex: 0 1 250px;
}
*:focus {
    outline: none;
}
input.message{
  margin-top: 20px;
  width: 80vw;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 30px;
  margin-left: 20px;
  border-style: solid;
  border-color: gray;
  border-radius: 5px;
  border-width: 1px;
}
button{
  cursor: pointer;
  margin-left: 50px;
  width: 100px;
  height: 30px;
  color: black;
  font-size: 16px;
  background-color: #64b5f6;
  border-style: solid;
  border-color: #64b5f6;
  border-radius: 5px;
}

@media screen and (max-width: 600px){
  .container{
    width: 100vw;
  }
  input.message{
    width: 90vw;
    margin-left: 0px;
  }
  button{
    width: 100vw;
    margin-left: 0px;
  }
}
.suggestionbox{
  cursor: pointer;
  width: 20vw;
  padding: 1px;
  color: rgb(12, 194, 226);
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
}
img.sound{
  width: 100px;
}
